/*------------------------------------------------------------------------
# Palettes
------------------------------------------------------------------------*/
.palette-primary {
	background: $palette-primary_neutral-color;
	color: $text-contrast-palette-primary-neutral-color;

	/*-----------------------------------------------
	## Headings
	-----------------------------------------------*/
	.site-title a {
		color: $palette-primary_1;
	}
	.site-title a:hover,
	.site-title a:focus {
		color: $palette-primary_4;
	}

	/*-----------------------------------------------
	## Links
	-----------------------------------------------*/
	a,
	a:hover,
	a:focus {
		color: $palette-primary_3;
	}

	/*-----------------------------------------------
	## Elements
	-----------------------------------------------*/
	hr {
		border-top: 1px solid $palette-primary_3;
	}

	/*-----------------------------------------------
	## Nav
	-----------------------------------------------*/
	.navbar-default .navbar-nav > li > a {
		color: $palette-primary_1;
	}
	#secondary-menu a,
	#tertiary-menu a {
		color: $palette-primary_5;
	}
	.navbar-default .navbar-nav > li > a:hover,
	.navbar-default .navbar-nav > li > a:focus,
	#secondary-menu a:hover,
	#secondary-menu a:focus,
	#tertiary-menu a:hover,
	#tertiary-menu a:focus,
	#menu-social-items a:hover,
	#menu-social-items a:focus,
	.footer-center-items > a:hover,
	.footer-center-items > a:focus,
	.dropdown-menu > li > a {
		color: $palette-primary_4;
	}
	.dropdown-menu {
		background: $palette-primary_5;
		color: $text-contrast-palette-primary_5;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus,
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
		background: $palette-primary_4;
		color: $text-contrast-palette-primary_4;
	}
	.navbar-default .navbar-nav > .active > a,
	.navbar-default .navbar-nav > .active > a:hover,
	.navbar-default .navbar-nav > .active > a:focus,
	#secondary-menu .current_page_item a,
	#tertiary-menu .current_page_item a {
		background: none;
		color: $palette-primary_4;
	}
	.navbar-default .navbar-nav > .open > a,
	.navbar-default .navbar-nav > .open > a:hover,
	.navbar-default .navbar-nav > .open > a:focus,
	.navbar-default .navbar-nav > .current-menu-parent > a,
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		background: $palette-primary_5;
		color: $text-contrast-palette-primary_5;
	}
	.navbar-default .navbar-toggle {
		border-color: $palette-primary_5;
	}
	.navbar-default .navbar-toggle .icon-bar,
	.navbar-default .navbar-toggle:hover .icon-bar,
	.navbar-default .navbar-toggle:focus .icon-bar {
		background-color: $palette-primary_4;
	}

	/*-----------------------------------------------
	## Content Area
	-----------------------------------------------*/
	.site-content,
	.widget,
	.disabled-footer .site-footer {
		background: $palette-primary_neutral-color;
		color: $text-contrast-palette-primary_neutral-color;
	}

	/*-----------------------------------------------
	## Blog
	-----------------------------------------------*/
	.widget-area {
		border: 1px solid $text-contrast-palette-primary_1;
	}
	.widget .nav > li > a:hover,
	.widget .nav > li > a:focus,
	.site-footer .widget {
		background: $palette-primary_5;
		color: $text-contrast-palette-primary_5;
	}
	#footer-widget-area .widget-title,
	#footer-widget-area caption {
		color: $palette-primary_4;
	}

	/*-----------------------------------------------
	## Footer
	-----------------------------------------------*/
	.site-footer,
	.site-footer a {
		background: $palette-primary_5;
		color: $text-contrast-palette-primary_5;
	}
	#boldgrid-sticky-push, 
	#boldgrid-sticky-filler {
		background-color: $palette-primary_5;
	}
	.entry-footer a {
		color: $palette-primary_5;
	}
}
