/*------------------------------------------------------------------------
# Right To Left (RTL) Styles
------------------------------------------------------------------------*/
body {
	direction: rtl;
	unicode-bidi: embed;
}

/*------------------------------------------------------------------------
# Base Styles
------------------------------------------------------------------------*/

/*-----------------------------------------------
## Typography
-----------------------------------------------*/
/* Small devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.navbar-default .navbar-nav,
	.navbar-default .navbar-nav .open .dropdown-menu {
		text-align: right;
	}
}

/*-----------------------------------------------
## Elements
-----------------------------------------------*/
blockquote,
.mod-blockquote {
	padding-right: 15px;
	padding-left: 0;
}

/*------------------------------------------------------------------------
# Navigation
------------------------------------------------------------------------*/

/*-----------------------------------------------
## Main Menu
-----------------------------------------------*/
/* Small devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.navbar-default {
		float: left;
		margin: 20px 0 0 -30px;
	}
}
